
<div class="container">
<div class="row valign-wrapper altura ">
    <div class="col valign  s5 m5 l5 ">

        <div class="card ">

            <div class="card-content">
                <img src="view/imagenes/logo.gif" width="160" height="90" alt="Escudo" class="center-block center-align">
                <br></br>

                        <div class="row">


                            <div class="input-field col s12">
                                <i class="material-icons prefix">person_pin</i>
                                <input id="usuario" name="usuario" type="text" class="validate" >
                                <label for="usuario">Usuario</label>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">https</i>
                                <input id="contra" name="contra" type="password" class="validate ">
                                <label for="contra" >Contraseña</label>
                            </div>
                        </div>

                <div id="error" class=" waves-light center-align"></div>
             </div>
            <a  class="waves-effect waves-light btn right white-text siguiente light-green accent-4" id="siguiente"> Inicio de sesión</a>

        </div>



    </div>

</div>
    <div class=" center-align center">
        <a href="#" class="center center-align green-text-accent-1">Centro de enseñanza y estimulación happy kids </br> Riohacha - la Guajira</spam></br> 2016 </br> © </a>

    </div>
</div>


